.desktop {
    display: none;
}

.desktopskill {
    display: flex;
    flex-direction: column-reverse;
}

.column {
    width: 90%
}

.column:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius);
}

.column:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: var(--radius);
}

.box {
    width: 50%;
}